<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MelHouse"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.activities.NotRegisteredActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.CalendarViewActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activities.SplashScreenActivity"
            android:theme="@style/Theme.App.Starting"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="android:screenOrientation" />
    </application>

</manifest>